body {
    font-family: 'Fredoka', sans-serif;
    background-color: #FAFBFC;
}

header {
    background-color: blue;
    padding: 10px;
    color: #fff;
    text-align: center;
}

main {
    padding: 30px 50px;
}

.contato {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 30px;
    margin-top: 15px;
    border-radius: 12px;
}

.entradas {
    display: grid;
    margin-bottom: 15px;
}

input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: 0;
}

button {
    border: 0px;
    padding: 10px;
    outline: 0;
    background-color: blue;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    transition: all ease 0.2s;
}

button:hover {
    background-color: rgb(7, 7, 196);
    cursor: pointer;
}

.conteudo {
    margin-top: 15px;
}

table {
    border-collapse: collapse;
    border: 1px solid #ccc;
    width: 100%;
}

table th {
    background-color: rgb(136, 136, 136);
}

table th, td {
    padding: 1px 5px;
    text-align: left;
}

table td img {
    width: 20px;
}

table td img:hover {
    cursor: pointer;
}

.centralizar {
    text-align: center;
}